/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

/* Navegación */
nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #013220;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Espaciado interno */
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #015a33;
}

/* Breadcrumbs */
.breadcrumbs {
    margin: 10px;
    font-size: 0.9em;
    color: gray;
}

/* Contenedor principal */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Títulos */
h1, h2 {
    color: #013220;
    text-align: center;
}

/* Párrafos */
p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Botones */
button {
    padding: 10px;
    background-color: #013220;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #015a33;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical; /* Permite ajustar solo verticalmente */
}

button {
    padding: 10px;
    background-color: #013220;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #015a33;
}


/* Mensajes de error */
.error {
    color: red;
    font-size: 14px;
    text-align: center;
}
main {
    margin-top: 60px; /* Espacio suficiente debajo del nav */
}
